.idea
data/raw_scripts/*
data/GoogleNews-vectors-negative300.bin.gz
nmt


twitter_creds/data.py
twitter_creds/email_fwds
twitter_creds/laforge.py
twitter_creds/narrator.py
twitter_creds/picard.py
twitter_creds/riker.py
twitter_creds/troi.py
twitter_creds/worf.py

word2vec

build_model.py
checkpoint
diabetes.csv
output.tmp0.png
rnn*
tf_class.py
tf_seq2seq_startrek.iml
twitter_bot.py

